$darkshade100: rgba(31, 32, 65, 1);
$darkshade75: rgba(31, 32, 65, 0.75);
$darkshade50: rgba(31, 32, 65, 0.5);
$darkshade25: rgba(31, 32, 65, 0.25);
$darkshade05: rgba(31, 32, 65, 0.05);
$purple: #BC9CFF;
$green: #6FCF97;
$purple-gradient: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
$green-gradient: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
