mixin dual-range(header)
    div.dual-range
        div.dual-range__text
            div.dual-range__header=header
            div.dual-range__values
                span.from 5000₽
                span &nbsp-&nbsp
                span.to 10000₽
        div.slider
